<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>Nav 导航</title>
    <link rel="stylesheet" href="assets/css/iconfont/iconfont.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/nav.css">
</head>

<body>
    <div id="app">
        <aside v-show="controlData.showMenu" style="display: none;">
            <ul>
                <!-- :key -->
                <li v-for="(item, i) in items" :key="item.title">
                    <a :href="'#' + item.title + i" @click="expand($event)">
                        <i v-if="controlData.editModel" class="iconfont icon-delete" @click="deleteMenu($event,i)"></i>
                        <i v-if="controlData.editModel" class="iconfont icon-edit" @click="editSite($event, false, true, true, i)"></i>
                        <i v-if="!controlData.editModel" class="iconfont icon-tag no-scale"></i>
                        <span class="title nowrap-ellipsis">{{item.title}}</span>
                        <i v-if="item.children && item.children.length > 0" class="iconfont icon-right no-scale"></i>
                    </a>
                    <ul v-if="item.children && item.children.length > 0">
                        <li v-for="(child, j) in item.children" :key="child.title">
                            <a :href="'#' + child.title + i + j">
                                <i v-if="controlData.editModel" class="iconfont icon-delete" @click="deleteMenu($event,i,j)"></i>
                                <i v-if="controlData.editModel" class="iconfont icon-edit" @click="editSite($event, false, false, true, i,j)"></i>
                                <span class="title nowrap-ellipsis">{{child.title}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>

        <main>
            <header>
                <a @click="controlData.showMenu = !controlData.showMenu"><i class="iconfont icon-category"></i></a>
                <a href="https://github.com/tinjq/zzz" target="_blank"><i class="iconfont icon-github"></i></a>
            </header>

            <section>
                <div v-for="(item, i) in items" :key="item.title">
                    <h4 v-if="settings.showEmptyCategory || (item.sites && item.sites.length > 0)" :id="item.title + i">
                        <i class="iconfont icon-tag no-scale"></i> {{item.title}}
                        <i v-if="controlData.editModel" class="iconfont icon-add" @click="editSite($event, true, true, false, i)"></i>
                    </h4>
                    <div v-if="item.sites && item.sites.length > 0" class="site-cards">
                        <div v-for="(site, j) in item.sites" :key="site.title" 
                            :style="settings.cardWidth ? `width:${settings.cardWidth}%` : ''">
                            <div class="site-card" @mouseenter="showTip($event)" @mouseleave="hideTip" @click="clickCard(site)"
                                :tip-content="tooltipContent(site)" tip-placement="bottom">
                                <img v-if="site.icon && site.icon.length > 0" :src="site.icon" loading="lazy">
                                <div>
                                    <p class="nowrap-ellipsis"><strong>{{site.title}}</strong></p>
                                    <p class="nowrap-ellipsis">{{site.remark}}</p>
                                </div>
                            </div>
                            <div v-if="controlData.editModel" class="edit-icons">
                                <i class="iconfont icon-edit" @click="editSite($event, true, false, true, i, j)"></i>
                                <i class="iconfont icon-delete" @click="editDelete(i, j)"></i>
                            </div>
                        </div>
                    </div>

                    <template v-for="(child, j) in item.children" :key="child.title">
                        <div v-if="settings.showEmptyCategory || (child.sites && child.sites.length > 0)">
                            <h4 :id="child.title + i + j">
                                <i class="iconfont icon-tag no-scale"></i> {{child.title}}
                                <i v-if="controlData.editModel" class="iconfont icon-add" @click="editSite($event, true, true, false, i, j)"></i>
                            </h4>
                            <div class="site-cards">
                                <div v-for="(site, k) in child.sites" :key="site.title" 
                                    :style="settings.cardWidth ? `width:${settings.cardWidth}%` : ''">
                                    <div class="site-card" @mouseenter="showTip($event)" @click="clickCard(site)"
                                        @mouseleave="hideTip" :tip-content="tooltipContent(site)" tip-placement="bottom">
                                        <img v-if="site.icon && site.icon.length > 0" :src="site.icon" loading="lazy">
                                        <div>
                                            <p class="nowrap-ellipsis"><strong>{{site.title}}</strong></p>
                                            <p class="nowrap-ellipsis">{{site.remark}}</p>
                                        </div>
                                    </div>
                                    <div v-if="controlData.editModel" class="edit-icons" @click="event.stopPropagation()">
                                        <i class="iconfont icon-edit" @click="editSite($event, true, false, true, i, j, k)"></i>
                                        <i class="iconfont icon-delete" @click="editDelete(i, j, k)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>

                </div>
            </section>

            <footer class="footer-tools">
                <a v-show="controlData.editModel" class="rounded-circle" @click="saveData" @mouseenter="showTip($event)" 
                    @mouseleave="hideTip" tip-content="修改后要保存，否则刷新页面就丢了" tip-placement="left">
                    <i class="iconfont icon-save"></i>
                </a>
                <a class="rounded-circle" @click="controlData.editModel = !controlData.editModel"  tip-placement="left"
                    @mouseenter="showTip($event)" @mouseleave="hideTip" tip-content="切换修改模式">
                    <i class="iconfont icon-edit"></i>
                </a>
                <a href="javascript:window.scrollTo({ top: 0 });" class="rounded-circle"  tip-placement="left"
                    @mouseenter="showTip($event)" @mouseleave="hideTip" tip-content="回到顶部">
                    <i class="iconfont icon-to-up"></i>
                </a>
                <a class="rounded-circle" @click="showSettingsForm"  tip-placement="left"
                    @mouseenter="showTip($event)" @mouseleave="hideTip" tip-content="设置">
                    <i class="iconfont icon-settings"></i>
                </a>
            </footer>

            <div v-show="isShowTip" style="display: none;" id="tooltip" role="tooltip" 
                @mouseenter="enterTooltip" @mouseleave="hideTip">
                <span v-html="tipContent"></span>
                <div id="arrow"></div>
            </div>

            <div class="marsk" style="display: none;" v-show="controlData.showSettings" @click="controlData.showSettings = false">
                <div class="popup settingsPopup" onclick="event.stopPropagation()">
                    <div>
                        <span>是否加密：</span>
                        <div>
                            <input type="radio" v-model="controlData.crypto" value="false">不加密
                            <input type="radio" v-model="controlData.crypto" value="true">加密
                        </div>
                    </div>
                    <div v-show="controlData.crypto === true || controlData.crypto === 'true'">
                        <span>加密密码：</span>
                        <input type="password" v-model="controlData.password"/>
                    </div>
                    <div>
                        <span>显示空分类：</span>
                        <div>
                            <input type="radio" v-model="controlData.showEmptyCategory" value="false">不显示
                            <input type="radio" v-model="controlData.showEmptyCategory" value="true">显示
                        </div>
                    </div>
                    <div>
                        <span>卡片宽度(%)：</span>
                        <input type="text" v-model="controlData.cardWidth" placeholder="33" />
                    </div>
                    <div class="btns">
                        <button class="btn-yes" @click="confirmSettings">确定</button>
                        <button class="btn-cancel" @click="controlData.showSettings = false">取消</button>
                    </div>
                </div>
            </div>

            <div class="marsk" style="display: none;" v-show="controlData.showMask" @click="controlData.showMask = false">
                <div class="popup editForm" onclick="event.stopPropagation()">
                    <div>标题：<input type="text" v-model="editData.title"></div>
                    <div v-if="editFlag.info">链接：<input type="text" v-model="editData.href"></div>
                    <div v-if="editFlag.info">图片：<input type="text" v-model="editData.icon"></div>
                    <div v-if="editFlag.info">备注：<input type="text" v-model="editData.remark"></div>
                    <div v-if="editFlag.info">描述：<input type="text" v-model="editData.description"></div>
                    <div class="btns">
                        <button v-if="editFlag.btns" @click="editUpdate">修改</button>
                        <button v-if="editFlag.btns" @click="insertBefore">前插入</button>
                        <button v-if="editFlag.btns" @click="insertAfter">后插入</button>
                        <button v-if="editFlag.child" @click="appendChild">添加子项</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="marsk confirm-pass" style="display: none;">
        <div class="popup " onclick="event.stopPropagation()">
            <div>
                密码：<input type="password" placeholder="请输入密码" />
            </div>
            <div class="btns">
                <button class="btn-yes" onclick="handlePrompt()">确定</button>
            </div>
        </div>
    </div>

    <script src="assets/js/floating-ui-core-1.6.5.js"></script>
    <script src="assets/js/floating-ui-dom-1.6.8.js"></script>
    <script src="assets/js/vue.global.prod.js"></script>
    <script src="assets/js/crypto-js.min.js"></script>
    <script src="assets/js/zzz.js"></script>
    <script src="assets/js/zzz-nav.js" id="zzz-nav"></script>
</body>

</html>