@font-face {
  font-family: "iconfont"; /* Project id 4630987 */
  src: url('iconfont.woff2?t=1722492167609') format('woff2'),
       url('iconfont.woff?t=1722492167609') format('woff'),
       url('iconfont.ttf?t=1722492167609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
  content: "\e638";
}

.icon-search:before {
  content: "\e61f";
}

.icon-github:before {
  content: "\e712";
}

.icon-save:before {
  content: "\e63c";
}

.icon-down:before {
  content: "\e603";
}

.icon-tag:before {
  content: "\e61d";
}

.icon-edit1:before {
  content: "\e600";
}

.icon-right:before {
  content: "\e682";
}

.icon-category:before {
  content: "\e84d";
}

.icon-to-up:before {
  content: "\e61e";
}

.icon-edit:before {
  content: "\e61c";
}

.icon-add:before {
  content: "\e67b";
}

.icon-delete:before {
  content: "\e688";
}

